// Colors
$classicRed: hsl(356, 72%, 43%);
$skyBlue: hsl(198, 71%, 62%);
$darkSky: hsl(220, 71%, 62%);
$backgroundWhite: hsl(0, 0%, 88%);
$lessDarkBlue: hsl(170, 40%, 43%);
$darkBlue: hsl(233, 26%, 24%);

// Font Size
$font-med: 1.125rem; // 18px
$font-small: 0.875rem; // 14px