html{
    font-family: 'Times New Roman', Times, serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

body{
    background: #f6f6f6;
}
body{
    font-weight: 300;
}

body, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
*, :after, :before{
    box-sizing: inherit;
}
body{
    display: block;
    margin: 8px;
}


.site-sidebar{
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 25%;
    font-size: 14px;
    color: #fff;
    text-align: left;
    background-color: rgba(145,13,13,.8);
}

.dl-vertical, .site-sidebar{
    overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
    display: block;
}
*,:after,:before{
    display:inherit;
}
aside{
    display: block;
}



.site-sidebar .site-sidebar-inner{
    position: relative;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 45px 40px;
}
*,:after,:before{
    display:inherit;
}
div{
    display: block;
}

.site-sidebar .person{
    text-align: center;
}

.person{
    color: inherit;
}

.person, .site-sidebar .posts-lists>li{
    display: block;
}

.cv-tech-tags a:hover, .main-navigation a, .person, .person:hover, .portfolio-timeline .project-link, .site-sidebar .posts-list a{
    text-decoration: none;
}

.button.button-red, .home-section, .person, .project-subtitle, .project-title, h1, h2{
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

.red, a{
    color: #BB1E1E;
}
a{
    background: 0 0;
}
*,:after,:before{
    display:inherit;
}
a:-webkit-any-link{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.person .person-avatar{
    border-radius: 50%;
    margin-bottom: 10px;
}
*, :after, :before{
    box-sizing: inherit;
}
div{
    display: block;
}


.avatar{
    width: 152px;
    height: 152px;
    border-radius: 50%;
}
img, legend{
    border: 0;
}
*,:after,:before{
    display:inherit;
}

.person .person-content{
    margin-left: -40px;
    margin-right: -40px;
}
*,:after,:before{
    display:inherit;
}
div{
    display: block;
}


.person .person-content .person-title{
    font-size: 22px;
    font-weight:500;
}

.main-navigation, .person .person-content .person-title, .site-sidebar .block .block-title, h1,  h2, h5{
    text-transform: uppercase;
}
h1{
    font-size: 36px;
}
h1, h2, h3, h4{
    font-weight: 400;
}
.button.button-red, .home-section, .person, .project-subtitle, .project-title, h1, h2{
    -webkit-font-smoothing: antialiased;
}
body, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
*,:after,:before{
    display:inherit;
}
:-webkit-any(article, aside, nav, section) h1{
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
h1{
    display: block;
    font-size:2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.person .person-content .person-subtitle{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}
h2{
    font-size: 30px;
}
h1, h2, h3, h4{
    font-weight: 400;
}
.button.button-red, .home-section, .person, .project-subtitle, .project-title, h1, h2{
    -webkit-font-smoothing: antialiased;
}
.main-navigation, .person .person-content .person-title, .site-sidebar .block .block-title, h1, h2, h5{
    text-transform: uppercase;
}
body, h1,h2,h3,h4,h5,h6{
    margin:0;
}
*,:after,:before{
    display:inherit;
}
h2{
    display: block;
    font-size:2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


